<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <video id="player" controls>
        <source src="https://sitevurokrazia.s3.amazonaws.com/uzn5ox97o7eqkdzbh6o09h7snbv3?response-content-disposition=attachment%3B%20filename%3D%22video.mp4%22%3B%20filename%2A%3DUTF-8%27%27video.mp4&response-content-type=video%2Fmp4&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA3FWQSHSPBCXLT3HK%2F20200830%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20200830T003444Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=17733d81f7753542145daab0d7a073bd5209c0b1eb071045ce7754440b31b09c" type="video/mp4">
    </video>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.5.10/plyr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.5.10/plyr.css" />

    <script type="text/javascript">
        const player = new Plyr('#player');
    </script>
</body>
</html>